body.body {
  font-family: variables.$font-primary;
  background-color: #f5f5f5;
  color: $color-text;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-secondary;
  color: $color-primary;
  font-weight: 700;
}
